<section id="about" class="profile-pic section3" style="background: url(img/{{ site.data.settings.profile-img }});
">
		<div class="mobile-pic" style="background: url(img/{{ site.data.settings.profile-img }});
"></div>
		<div class="about-me-description">
			    <h2>{{ site.title }}</h2>
			    <h4 class="about-subtitle">Hi! my name is Henrique Dan Fuzitani, people use to call me as Dan, nice to meet you!</h4>
				    <p>Last year I was living in Sapporo-Hokkaido, Japan and now I'm living in São Paulo -SP,Brazil. At the moment I'm working as Lighting &amp; Rendering Artist at a VFX Commercial company called Vetorzero in São Paulo.<strong> See you around!</strong></p>
		</div>
</section>