<section id="contact" class="section4">
	
	    <h3>Contato</h3>
	    <div class="social-icons">
	    	<div class="behance"><a href="https://www.behance.net/danfuzitani" target="_blank">
	    	{% include icons/behance.html %}</a></div>	
	    	<div class="facebook"><a href="https://www.facebook.com/henrique.fuzitani" target="_blank">
	    	{% include icons/facebook.html %}</a></div>	
	    	<div class="linkedin"><a href="https://www.linkedin.com/in/henrique-dan-fuzitani-5a7b9334/en" target="_blank">
	    	{% include icons/linkedin.html %}</a></div>	
	    </div>
	    <h3 class="email">henrique.dan@gmail.com</h3>
</section>