<head>
	<title>Henrique Dan Fuzitani</title>
	<meta charset="utf-8">
	<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/scripts.js"></script>
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/smoothscroll.js"></script>
	<script type="text/javascript" src="//player.vimeo.com/api/player.js"></script>


</head>