<header>
	<nav>
		<a href="#reel" value="1" class="hvr-fade active">demo-reel</a>
		<a href="#projects1" value="2" class="hvr-fade projects">projetos</a>
		<a href="#projects2" value="2" class="hvr-fade projects">projetos</a>
		<a href="#projects3" value="2" class="hvr-fade projects">projetos</a>
		<a href="#projects4" value="2" class="hvr-fade projects">projetos</a>
		<a href="#about" value="3" class="hvr-fade">sobre mim</a>
		<a href="#contact" value="4" class="hvr-fade">contato</a>
	</nav>
	<div id="bar"></div>
	<div id="bar-back"></div>

</header>