<section id="reel" class="banner section1">

	<div class="banner">
		<div class="my-shout-out">
			<h4>Hello! My name is</h4>
			<h1 class="reel-call">{{ site.title }}</h1>
			<h3>{{ site.description }}</h3>
		</div>
		<div class="play-button">
			<h4>Watch my last demo by clicking here!</h4>

		</div>
	  <video autoplay loop muted class="banner__video" poster="../img/videoframe.png">
	    <source src="videos/reel-12.webm" type="video/webm">
	    <source src="videos/reel-12.mp4" type="video/mp4">
	  </video>
	</div>
	
	<div id="overlay" class="vimeo-reel">
		<iframe src="//player.vimeo.com/video/178327062" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<span class="close" aria-label="Pause" title="Pause" data-title-pause="Pause">×</span>
	</div>


</section>