section#contact {
	background: $my-yellow;
	color: #fff;
	.social-icons {
		div {
			display: inline-block;
			margin: 20px;
			@media only screen and (max-width: 760px){
				margin: 10px;
			}
			&:hover{
				path, polygon {
					fill: rgba(0,0,0, 0.5);
				}
			}
		}

	}
	.email {
		text-transform: lowercase;
		@media only screen and (max-width: 760px){
			font-size: 18px;
		}
	}
}